div.nav-top-header
  div.social
    a.social__icon.icon-facebook(href="#")
    a.social__icon.icon-twitter(href="#")
  div.chat
    a.chat__icon(href="#") Live Chat
  div.settings
    a.settings__icon(href="#") Settings