div.site-menu
  ul.site-menu__list
    div.layout-center
      each link in ['home','races','live streams','promotions','statistics','help']
        li.site-menu__item
          a.site-menu__link(href="#")= link